.grid-container-list {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #2196F3;*/
  padding: 10px;

}
body{
  direction: rtl;
}
.item-list-price {
color: purple;
padding: 20%;
}
.grid-item-list {
  background-color: beige;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  /*padding: 20px;*/
  font-size: 30px;
  text-align: center;

}
.grid-item-description{
  color: green;
  opacity: 90%;
  padding-top: 10%;
}
